<div class="modal bg-transparent border-transparent" role="dialog"  tabindex="-1" x-show="isConfirm"  x-cloak x-transition  aria-hidden="true">
<div class="flex overflow-auto	file:h-screen fixed top-0 right-0 left-0 z-50 justify-center items-center p-4 w-full md:inset-0  md:h-5/6">
    <div class="relative w-full overflow-auto max-w-2xl h-full md:h-5/6">
      
        <!-- ADD SCROLL -->
    
        <form action="#" id="tableDelete"   class="relative bg-white rounded-lg shado">
            <!-- Modal header -->
            <div class="flex justify-between 	 items-start p-4 rounded-t border-b dark:border-gray-600" x-on:click.stop="isConfirm = false" >
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Your sure to delete this?
                </h3>
                <input type="hidden" name="id" id="id" value="">
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" x-on:click="isModalOpen=false">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                </button>
            </div>
           
            <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                <button type="submit" x-on:click="isConfirm = false" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
            </div>
        </form>
    </div>
</div>
</div>

