
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'html/header.html' %}
 </head>
<body  class="bg-gray-100 font-family-karla">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>

    <div class="lg:flex">
        <div class="lg:w-1/2 xl:max-w-screen-sm">
            <div class="py-3 bg-white lg:bg-white flex justify-center lg:justify-start lg:px-10">
                <div class="cursor-pointer flex items-center">
                    <img class="w-1/2   self-center" src="{{url_for('static',path='/images/logov1.svg')}}" />

                </div>
            </div>
            <div class="mt-10 px-12 sm:px-24 md:px-48 lg:px-12 lg:mt-16 xl:px-24 xl:max-w-2xl">
                <h2 class="text-center text-4xl text-bluee font-display font-semibold lg:text-left xl:text-5xl
                xl:text-bold">Create User</h2>
                <div class="mt-12">
                    <form id="formRese" action='/newuser' method='post'  x-data="{password: '',password_confirm: ''}">
                        <div>
                            <div class="text-sm font-bold text-gray-700 tracking-wide align-middle">Email Address</div>
                            <input name="email" id="email" required class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="" placeholder="Write your email">
                        </div>
                        <div>
                            <div class="text-sm font-bold text-gray-700 tracking-wide align-middle">UserName</div>
                            <input name="username" id="username" required class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="" placeholder="Write your email">
                        </div>
                        <div class="mt-8">
                            <div class="flex justify-between items-center">
                                <div class="text-sm font-bold text-gray-700 tracking-wide">
                                    New password
                                </div>
                            </div>
                            <input name="password" id="password" required x-model="password" class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-blue-900" type="password" placeholder="Enter your password">
                        </div>
                        <div class="mt-8">
                            <div class="flex justify-between items-center">
                                <div class="text-sm font-bold text-gray-700 tracking-wide">
                                    Repeat new password
                                </div>
                            </div>
                            <input name="password_confirm" required id="password_confirm" x-model="password_confirm" class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-blue-900" type="password" placeholder="Enter your password">
                        </div>
                        <div class="mt-8">
                            <div class="flex justify-between items-center">
                                <div class="text-sm font-bold text-gray-700 tracking-wide">
                                    Is Admin
                                </div>
                            </div>
                            <input name="admin"  class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-blue-900" type="radio" />
                        </div>
                        <div class="mt-10">
                            <button type="summit"  class=" text-gray-100 p-4 w-full rounded-full tracking-wide
                            font-semibold font-display focus:outline-none focus:shadow-outline bg-gray-600 hover:bg-gray-400
                            shadow-lg">
                                Sign Up
                            </button>
                        </div>
                        <div class="flex justify-start mt-3 ml-4 p-1">
                            <ul>
                                <li class="flex items-center py-1">
                                    <div :class="{'bg-green-200 text-green-700': password == password_confirm && password.length > 0, 'bg-red-200 text-red-700':password != password_confirm || password.length == 0}"
                                         class=" rounded-full p-1 fill-current ">
                                        <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path x-show="password == password_confirm && password.length > 0" stroke-linecap="round"
                                                  stroke-linejoin="round" stroke-width="2"
                                                  d="M5 13l4 4L19 7"/>
                                            <path x-show="password != password_confirm || password.length == 0" stroke-linecap="round"
                                                  stroke-linejoin="round" stroke-width="2"
                                                  d="M6 18L18 6M6 6l12 12"/>
    
                                        </svg>
                                    </div>
                                    <span :class="{'text-green-700': password == password_confirm && password.length > 0, 'text-red-700':password != password_confirm || password.length == 0}"
                                          class="font-medium text-sm ml-3"
                                          x-text="password == password_confirm && password.length > 0 ? 'Passwords match' : 'Passwords do not match' "></span>
                                </li>
                                <li class="flex items-center py-1">
                                    <div :class="{'bg-green-200 text-green-700': password.length > 7, 'bg-red-200 text-red-700':password.length < 7 }"
                                         class=" rounded-full p-1 fill-current ">
                                        <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path x-show="password.length > 7" stroke-linecap="round"
                                                  stroke-linejoin="round" stroke-width="2"
                                                  d="M5 13l4 4L19 7"/>
                                            <path x-show="password.length < 7" stroke-linecap="round"
                                                  stroke-linejoin="round" stroke-width="2"
                                                  d="M6 18L18 6M6 6l12 12"/>
    
                                        </svg>
                                    </div>
                                    <span :class="{'text-green-700': password.length > 7, 'text-red-700':password.length < 7 }"
                                          class="font-medium text-sm ml-3"
                                          x-text="password.length > 7 ? 'The minimum length is reached' : 'At least 8 characters required' "></span>
                                </li>
                            </ul>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="hidden lg:flex items-center justify-center bg-transparent flex-1 h-screen">
            <div class="w-full h-full bg-no-repeat bg-cover "
            style="background-image: url('https://images.pexels.com/photos/2217513/pexels-photo-2217513.jpeg?cs=srgb&dl=pexels-tom-fisk-2217513.jpg')">

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>

    <!-- Footer -->
    </body>
    </html>